# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Build
build/
dist/

# Logs
logs/*.log

# Output Images
Output/*

# Temp
temp/

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

# Model Cache
*.onnx
*.pth